* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-content * {
    color: white;
}

.title {
    font-weight: bold;
    color: pink;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}